.banner {
  max-width: 972px;
  width: 100%;
  margin-top: 4px;
  padding: 31px 33px 27px;
  background-image: url("../images/banner-bg.png");
  background-size: contain;
  background-position: 93% 0;
  background-repeat: no-repeat;
  background-color: #fff;
  box-shadow: 0px 11px 39px -14px #D1D5DD;
  border-radius: 24px;

  &__title {
    max-width: 193px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    color: #242731;
  }

  &__descr {
    max-width: 250px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 135%;
    color: #242731;
  }

  &__btn {
    padding: 13px 15px 10px 41px;
    color: #fff;
    background-color: #6C5DD3;;
    background-image:url('../images/icon_plus_primary.svg');
    background-size: 21px 21px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 12px;
    transition: background-color 0.33s ease-in-out;

    &:hover {
      background-color: #3D337C;
      color: #fff;
    }
  }

}
